# Generic Qt and C++ patterns
*.moc
Makefile*
*.so.*
*.so
*.so.debug
*.o
.cd.rc
*.swp
core
moc_*.cpp
*.Debug
*.Release
*.pdb
*.idb
*.ib_pdb_index
ui_*.h
qrc_*.cpp
Debug/
Release/
*.log
.*.stash
moc_*.h
*_interface.*

# QtCreator project files
*.pro.user
=======
*.pro.user*
*~

# Project specific
qmanga
qmanga_*.pro
